.settings-page {
    display: flex;
    flex: 1;
    margin-top: 5%;
}

.settings-tabs {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
}

.settings-options {
    display: flex;
    flex: 0 0 30%;
    flex-direction: column;
}

.settings-content {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 5vh 5vw;
    border: #274472 2px solid;
    padding: 2em;
}

.panel-button,
.logout-button,
.confirm-button,
.submit-button {
    padding: 0.5rem;
    border: none;
    border-radius: 10px;
    font-weight: 500;
}

.change-avatar-button,
.delete-account-button,
.modify-account-button {
    padding: 0.5rem;
    border: none;
    font-weight: 500;
    color: #1e1e1e;
    background: #ffffff;
    width: 30vw;
}

.delete-account-button {
    color: red;
}

.upload-avatar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 200px;
}

.upload-avatar-form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 130px;
}

.modify-account-form {
    margin: 5vh 2.5vw;
}

.modify-account-form button {
    margin-bottom: 1.5vh;
}

.modify-account-form input {
    border-radius: 0.25rem;
    margin: 1.5vh 0vw;
}