.form-container,
.identity-form,
.password-form,
.registration-form {
    display: flex;
    flex-direction: column;
}

.auth-page {
    margin: 5% 1%;
}

.auth-view {
    display: flex;
    justify-content: flex-end;
}

.form-container {
    border: 2px solid #274472;
    border-radius: 0.5rem;
    width: 30%;
    margin: 5vh 5vw 0vh 0vw;
    padding: 2rem;
}

.identity-field {
    display: flex;
    flex: 1;
    align-items: center;
}

.identity-field span {
    display: flex;
    align-items: center;
    height: 4.5vh;
    border: 2px solid #274472;
    border-right: none;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    background: #274472;
}

#identity-icon,
#password-icon {
    color: #ffffff;
    padding: 0vh 0.25vw;
}

.identity-form input,
.password-form input {
    flex: 1;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    margin: 3vh 0vw;   
}

.identity-form button,
.registration-form button,
.password-form button {
    border: none;
    border-radius: 0.25rem;
    height: 5vh;
    font-weight: 500;
}

.identity-form .confirm-button,
.registration-form .register-button,
.password-form .login-button {
    margin-bottom: 1.5vh;
}

.registration-form input {
    border-radius: 0.25rem;
    margin: 1.5vh 0vw;
}

.auth-navigation {
    display: flex;
    width: 98%;
    flex-direction: row;
    justify-content: flex-end;
}

.auth-navigation .get-started-button {
    padding: 0.5rem;
    border: none;
    border-radius: 10px;
    background-color: #00cf2e;
    font-weight: bold;
}