input.identity-entry,
input.username-entry,
input.password-entry,
input.cpassword-entry,
input.fname-entry,
input.lname-entry,
input.email-entry,
input.title-entry,
input.description-entry,
input.contact-entry,
input.department-entry,
input.position-entry {
    border-color: #274472;
    padding: 1vh 0.5vw;
}