* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 
    'Helvetica Neue', sans-serif;
}

.app {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

*:focus {
    outline: none;
}

.material-icons {
    -webkit-user-select: none;
    user-select: none;
}