.panel-page {
    height: 100%;
}

.navigation-contents {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-right: 2vw;
}

.navigation-options {
    display: flex;
    align-items: center;
}

.panel-view {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 2%;
    height: 93%;
}

.task-list {
    padding: 3% 1% 12% 1%;
}

.ticket-form,
.task-form,
.modify-account-form {
    display: flex;
    flex-direction: column;
}

.create-ticket-button,
.finished-tasks-button,
.logout-button,
.delete-account-button {
    margin-right: 2vw;
}

.create-ticket-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5vh;
    width: 6vw;
    padding-left: 1em;
    padding-right: 1em;
    border: none;
    border-radius: 10px;
    background-color: #00cf2e;
    font-weight: 500;
}

.finished-tasks-button,
.settings-button, 
.modify-button,
.delete-button,
.submit-ticket-button,
.back-button {
    padding: 0.5rem;
    border: none;
    border-radius: 10px;
    font-weight: 500;
}

.task-container {
    display: flex;
    flex-wrap: wrap;
}

.task-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.task-tools {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.subinfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.task-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 5%;
    font-size: small;
}

.task-options-button {
    height: -5px;
    cursor: pointer;
}

.ticket-container {
    border: #274472 2px solid;
    flex-basis: calc(33.33% - 10px);
    margin: 5px;
    padding: 1rem;
    box-sizing: border-box;
}

.ticket-form {
    margin: 5vh 2.5vw;
}

.ticket-form input {
    border-radius: 0.25rem;
    margin: 1.5vh 0vw;
}

.ticket-form button {
    margin-bottom: 1.5vh;
}

.user-container {
    display: flex;
    flex-direction: row;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 1%;
    background: #274472;
}