div.auth-dialog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: #274472 1.5px solid;
}

div.auth-dialog button {
    background-color: #274472;
    color: #ffffff;
    border-color: #274472;
    cursor: pointer;
}